@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tool Rental Store Demo</h1>
    <p class="lead">Use Customers, Products and Orders links to use the system</p>
    <p><a href="/customers" class="btn btn-primary btn-lg">Go To Customers</a></p>
</div>
<div class="feature-list-title">Features</div>
<ul class="features-list">
    <li>built with Web API2 controllers to provide database functionality (CRUD operations)</li>
    <li>utilises jQuery AJAX to perform HTTP requests</li>
    <li>pure HTML and jQuery rendered views (no razor views)</li>
    <li>uses jQuery validation to perform client side html form validation</li>
    <li>makes use of a variety of plugins: DataTables, bootbox, twitter.typeahead, toastr notifications</li>
    <li>Modern and responsive design</li>
</ul>