
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

<form id="newCustomer">
    <div class="form-group">
        <label>Name</label>
        <input type="text" required class="form-control" name="name" id="name" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" required data-rule-validEmail="true" class="form-control" name="email" id="email" />
    </div>
    <div class="form-group">
        <label>Telephone</label>
        <input type="text" required data-rule-validTelephone="true" class="form-control" name="telephone" id="telephone" />
    </div>
    <button type="submit" class="btn btn-primary" id="submitCustomer">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            $(document).ready(function () {

                var customer = {}

                $("#submitCustomer").on("click", function () {
                    // gets data from input fields and stores it in customer object
                    customer = {
                        name: $("#name").val(),
                        email: $("#email").val(),
                        telephoneNumber: $("#telephone").val()
                    };

                    // custom form validation
                    $.validator.addMethod("validTelephone", function () {
                        // regex to validate telephone
                        var reTelephone = /^(?:0|\+?44)(?:\d\s?){9,10}$/;
                        return reTelephone.test($("#telephone").val());

                    }, "Please enter a valid mobile number");

                    $.validator.addMethod("validEmail", function () {
                        // regex to validate email
                        var reEmail = /\S+@@\S+\.\S+/;
                        return reEmail.test($("#email").val());

                    }, "Please enter a valid email address");

                    // generic form validation
                    var validator = $("#newCustomer").validate({
                    // configurating validation
                    // if form is valid, this function is called to submit the form to the server
                        submitHandler: function (frm, e) {
                            // posting the form data to the db
                            $.ajax({
                                type: "POST",
                                url: "/api/customers",
                                data: customer
                            })
                                .done(function () {
                                    // resets form fields
                                    $("#name").val('');
                                    $("#email").val('');
                                    $("#telephone").val('');

                                    // resets customer object
                                    customer = {};

                                    // resets form validation
                                    validator.resetForm();

                                    // toastr plugin notification
                                    toastr.success("Customer successfully added");
                                })

                                .fail(function () {
                                    toastr.error("Something unexpected happened");
                                });

                            // IMPORTANT: prevents the form from being submitted normally (as we want the above AJAX code to submit the form, not the HTML to submit it)
                            e.preventDefault();
                            return false;
                        }
                    });
                });
            });
    </script>
}